#sprite_container_mech-fly {
    width: 200px;
    height: 200px;
    overflow: hidden;
    transform: scaleX(-1);
    /* border: 6px solid white; */
    
}

#mech-fly {
    animation: sprite-animation .25s steps(3) infinite;
    /* background-color: bisque; */
    width:600px;
}
  
  @keyframes sprite-animation {
    0% {
      transform: translate3d(0%, 0, 0);
    }
  
    100% {
      transform: translate3d(-100%, 0, 0);
    }
  }